.derek {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chjolka {
  background-color: rgba(0, 0, 0, 1);
  padding: 18px 186px 18px 216px;
  display: flex;
  align-items: center;
  align-self: stretch;
}
.tekst-chjolki {
  padding: 0 36px 0 30.3px;
  display: flex;
  align-items: center;
  flex: 1;
}
.logotipmetamodern {
  width: calc(22.15% - 3px);
  margin-right: 361.47px;
  padding: 8px 0 9px 3px;
  display: flex;
  align-items: center;
}
.image {
  width: 57px;
  height: 53px;
  margin-right: 11.85px;
}
.metamo-dern {
  height: 38px;
  width: 67.56%;
  font-family: "Oswald";
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  color: rgba(245, 245, 245, 1);
  display: flex;
  text-transform: uppercase;
}
.ssylki {
  width: calc(40.65% - 61.04px);
  padding: 27px 14px 20px 47.04px;
  display: flex;
  align-items: flex-start;
}
.frame {
  width: 18.52%;
  margin-right: 35.05px;
  padding: 0 0 2px;
  display: flex;
  align-items: center;
}
.process {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  flex: 1;
  display: flex;
  text-transform: uppercase;
}
.frame-two {
  width: 20.37%;
  margin-right: 35.05px;
  padding: 0 0 2px;
  display: flex;
  align-items: center;
}
.frame-three {
  width: 10.8%;
  margin-right: 35.04px;
  padding: 0 0 2px;
  display: flex;
  align-items: center;
}
.frame-four {
  width: 18.83%;
  padding: 0 0 2px;
  display: flex;
  align-items: center;
}
.contact {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  flex: 1;
  display: flex;
  text-transform: uppercase;
  text-decoration: underline;
}
.oblozhka {
  background-size: cover;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/98d94b7f-92c9-40f9-a9c9-dac8acf6b80d.png");
  padding: 104px 398px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.deviz {
  width: calc(98.45% - 158px);
  background-color: rgba(0, 0, 0, 0.43);
  padding: 57px 79px 6px;
  position: relative;
  border: 5px solid rgba(255, 255, 255, 1);
  backdrop-filter: blur(30px);
}
.metamo-dern-two {
  width: 672px;
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 400;
  line-height: 55px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 672px / 2);
  top: 2px;
}
.dvizhenie-ra-di-dvizhenija {
  height: 110px;
  width: 100%;
  font-family: "Montserrat";
  font-size: 43px;
  font-weight: 400;
  line-height: 55px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
.opisanie {
  background-color: rgba(205, 248, 242, 1);
  margin-bottom: 102px;
  padding: 32px 250px 29px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame-five {
  padding: 28px 0 0;
  display: flex;
  align-items: flex-start;
  flex: 1;
}
.metamodern-jeto-samyj-populjarnyj-koncep {
  max-width: 940px;
  font-family: "Vollkorn";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(71, 71, 79, 1);
  text-align: center;
}
.princip-raboty {
  width: calc(65.28% - 546px);
  margin-bottom: 36px;
  padding: 10px 273px 411px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.frejm-processa {
  width: calc(102.13% - 0.05px);
  padding: 0 0.05px 0 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: -10px;
  top: 119px;
}
.num-1-process {
  width: calc(33.33% - 19.98px);
  padding: 0 9.98px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-six {
  background-size: cover;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/f057b8f4-56e9-4d36-8901-f81d8ee8b742.png");
  margin-bottom: 38px;
  padding: 50px 87px 50px 86px;
  display: flex;
  align-items: center;
  align-self: stretch;
}
.process1 {
  width: 127px;
  height: 119px;
}
.rezul-tat-vtorichen {
  width: 239px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.nezavershjonnost-sistemy-vlechjot-neobhodim {
  max-width: 297px;
  font-family: "Vollkorn";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.num-2-process {
  width: calc(33.33% - 19.98px);
  margin-right: 0.01px;
  padding: 0 9.96px 27px 10.02px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-seven {
  width: calc(100% - 173px);
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/289f6580-97f7-44e4-82d3-b61987976eb4.png");
  margin-bottom: 38px;
  padding: 50px 87px 50px 86px;
  display: flex;
  align-items: center;
}
.process-pervichen {
  width: 227px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.metamodernizm-raskachivaetsja-mezhdu-modern {
  max-width: 284px;
  font-family: "Vollkorn";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.num-3-process {
  width: calc(33.33% - 18.98px);
  padding: 0 8.95px 5px 10.03px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-eight {
  width: calc(99.67% - 173px);
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/6f99ddac-feea-4927-9172-21a7b0a40678.png");
  margin-bottom: 28px;
  padding: 50px 87px 50px 86px;
  display: flex;
  align-items: center;
}
.sredstva-opravdyvajut-rezul-tat {
  max-width: 301px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.raskachivajas-tuda-i-obratno-metamodern {
  max-width: 300px;
  font-family: "Vollkorn";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.koncept-metamo-derna {
  width: 394px;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.tire {
  width: 20.3%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.nashi-proekty-two {
  background-size: cover;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/316b94b7-a38a-4e00-975d-bcce93326b23.png");
  margin-bottom: 151px;
  padding: 191px 189px 71px 173px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame-eighteen {
  padding: 58px 51px 341.04px 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: relative;
}
.frame-twelve {
  padding: 0 10.05px 20px 10px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame-nine {
  width: calc(31.91% - 45.98px);
  margin-right: 20px;
  padding: 315px 12.98px 32.98px 33px;
  position: relative;
}
.image-two {
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 300px / 2);
  top: 0;
}
.korreljacija {
  width: calc(100% - 2.8421709430404e-14px);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
}
.frame-ten {
  width: calc(31.91% - 45.98px);
  margin-right: 20.01px;
  padding: 315px 12.96px 32.98px 33.02px;
  position: relative;
}
.frame-eleven {
  width: calc(31.91% - 45.98px);
  padding: 315px 12.95px 32.98px 33.03px;
  position: relative;
}
.augmentacija {
  width: calc(100% - 5.6843418860808e-14px);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
}
.relative-wrapper-one {
  align-self: stretch;
  position: relative;
}
.frame-sixteen {
  width: calc(100% - 20.05px);
  padding: 0 10.05px 20px 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.frame-thirteen {
  width: calc(31.91% - 45.98px);
  margin-right: 20px;
  padding: 315.02px 12.98px 32.96px 33px;
  position: relative;
}
.image-three {
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 300px / 2);
  top: 0.02px;
}
.frame-fourteen {
  width: calc(31.91% - 45.98px);
  margin-right: 20.01px;
  padding: 315.02px 12.96px 32.96px 33.02px;
  position: relative;
}
.frame-fifteen {
  width: calc(31.91% - 45.98px);
  padding: 315.02px 12.95px 32.96px 33.03px;
  position: relative;
}
.frame-seventeen {
  width: calc(100% - 20.05px);
  padding: 0 10.05px 20px 10px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  bottom: -396.02px;
}
.image-four {
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 300px / 2);
  top: 0.03px;
}
.chaepitie {
  width: 100%;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
}
.nashi-proekty {
  width: 230px;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 230px / 2);
  top: -51px;
}
.komanda {
  width: calc(65.28% - 613px);
  margin-bottom: 151px;
  padding: 8.05px 306px 429.95px 307px;
  position: relative;
}
.portrety-i-podpisi {
  width: 102.13%;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: -10px;
  top: 119px;
}
.dzhon {
  width: calc(25% - 20px);
  padding: 0.05px 10px 52.95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-wrapper-four {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/e625266f-c7ab-41f8-8531-5982a96b89e4.png"),
    url("https://static.overlay-tech.com/assets/10e1943d-2eb3-4a2f-8779-41de268607cf.png");
  margin-bottom: 20px;
}
.dzhon-dou {
  width: 131px;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.osnovatel {
  width: 86px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.flex-wrapper-three {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/768d7212-1a62-46d1-9b86-a80499eb0d56.png"),
    url("https://static.overlay-tech.com/assets/55d7c6f3-0741-47df-8a29-2ccd25a5b972.png");
  margin-bottom: 20px;
}
.dzhejn-dou {
  width: 114px;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.obyvatel {
  width: 83px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.flex-wrapper-two {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/c9bbb682-5b3f-4eac-bd88-91524687c217.png"),
    url("https://static.overlay-tech.com/assets/5d036395-f971-481e-8871-4c804daa0844.png");
  margin-bottom: 20px;
}
.denni-devri {
  width: 121px;
  font-family: "Tahoma";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.podstrekatel {
  width: 100px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.flex-wrapper-one {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/cd150eb6-8e3d-4f74-8d4c-0a1c00102b7f.png"),
    url("https://static.overlay-tech.com/assets/2b68145f-1393-4b9b-981a-7fd4b0115a2a.png");
  margin-bottom: 20px;
}
.imjarek {
  width: 93px;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.muza {
  width: 65px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.nasha-komanda {
  height: 40px;
  width: 327px;
  display: flex;
  text-align: center;
  font-family: "Tahoma";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
}
.nasha-komanda-emphasis-0 {
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
}
.podval {
  padding: 78px 161px 15px 185px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame-twenty-two {
  flex: 1;
  position: relative;
}
.frame-nineteen {
  width: calc(100% - 921px);
  height: calc(100% - 63.05px);
  padding: 13.05px 70px 28px 69px;
  position: absolute;
  left: 53px;
  top: -5.95px;
}
.rossija-moskva-vadkovskij-pereulok-3a {
  max-width: 158px;
  font-family: "Vollkorn";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: -196.95px;
  margin-left: 8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.image-five {
  width: 44px;
  height: 65px;
  margin-bottom: 20.95px;
  margin-left: 65px;
}
.prihodi-v-gosti {
  width: 173px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
}
.frame-twenty {
  width: calc(100% - 921px);
  height: calc(100% - 73.05px);
  padding: 13.05px 70px 38px 69px;
  position: absolute;
  left: 391px;
  top: -6px;
}
.helgter-ru-tg {
  max-width: 158px;
  font-family: "Vollkorn";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: -186.95px;
  margin-left: 15px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-twenty-one {
  width: calc(100% - 865px);
  height: calc(100% - 85.05px);
  padding: 13.05px 42px 50px 41px;
  position: absolute;
  right: 53px;
  top: -6px;
}
.vkontakte {
  width: 158px;
  font-family: "Vollkorn";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: -152.95px;
  margin-left: 36px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.image-six {
  width: 44px;
  height: 65px;
  margin-bottom: 20.95px;
  margin-left: 93px;
}
.zajdi-na-stranichku {
  width: 229px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}
.git-hub {
  width: 158px;
  font-family: "Vollkorn";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-left: 36px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
