.desktop {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chjolka {
  background-color: rgba(0, 0, 0, 1);
  padding: 18px 186px 18px 216px;
  display: flex;
  align-items: center;
  align-self: stretch;
}
.tekst-chjolki {
  padding: 0 36px 0 30.3px;
  display: flex;
  align-items: flex-start;
  flex: 1;
}
.logotipmetamodern {
  width: calc(22.15% - 22.53px);
  margin-right: 433.47px;
  padding: 8px 19.53px 9px 3px;
  display: flex;
  align-items: center;
}
.image {
  width: 57px;
  height: 53px;
  margin-right: 5.7px;
}
.metamo-dern {
  height: 38px;
  width: 130px;
  font-family: "Oswald";
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  color: rgba(245, 245, 245, 1);
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
.ssylki {
  width: calc(33.24% - 66px);
  margin-top: 12px;
  padding: 16px 28px 13px 38px;
  display: flex;
  align-items: flex-start;
}
.git {
  height: 20px;
  width: 26.85%;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  text-transform: uppercase;
}
.git:not(:last-of-type) {
  margin-right: 49px;
}
.komanda {
  height: 20px;
  width: 18.68%;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  text-transform: uppercase;
  margin-right: 22px;
}
.oblozhka {
  background-size: cover;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/668dfa9d-99c7-4f12-bf8b-1afa6de58215.png");
  padding: 104px 398px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.deviz {
  width: calc(100% - 263px);
  height: calc(100% - 54px);
  background-color: rgba(0, 0, 0, 0.43);
  padding: 31px 126px 13px 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(255, 255, 255, 1);
  backdrop-filter: blur(30px);
}
.metamo-dern-two {
  width: 99.74%;
  height: 42.64%;
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 400;
  line-height: 55px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.dvizhenie-ra-di-dvizhenija {
  height: 42.64%;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 55px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  text-align: center;
  text-transform: uppercase;
}
.opisanie {
  background-color: rgba(205, 248, 242, 1);
  margin-bottom: 102px;
  padding: 32px 212px 14px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame {
  padding: 21px 38px 22px;
  display: flex;
  align-items: center;
  flex: 1;
}
.metamodern-jeto-samyj-populjarnyj-koncep {
  max-width: 940px;
  font-family: "Vollkorn";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(71, 71, 79, 1);
  text-align: center;
}
.princip-raboty {
  width: calc(65.28% - 546px);
  margin-bottom: 36px;
  margin-left: 250px;
  padding: 10px 273px 411px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.frejm-processa {
  width: calc(102.13% - 0.05px);
  padding: 0 0.05px 0 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: -10px;
  top: 119px;
}
.num-1-process {
  width: calc(33.33% - 19.98px);
  padding: 0 9.98px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-two {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/1da3e4a8-0894-4b02-98c0-a525ea460a21.png");
  margin-bottom: 38px;
  padding: 50px 87px 50px 86px;
  display: flex;
  align-items: center;
}
.process1 {
  width: 127px;
  height: 119px;
}
.rezul-tat-vtorichen {
  width: 239px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.nezavershjonnost-sistemy-vlechjot-neobhodim {
  max-width: 297px;
  font-family: "Vollkorn";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.num-2-process {
  width: calc(33.33% - 19.98px);
  margin-right: 0.01px;
  padding: 0 9.96px 27px 10.02px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-three {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/8bb3209a-6a8c-4c91-9792-6202654653dc.png");
  margin-bottom: 38px;
  padding: 50px 87px 50px 86px;
  display: flex;
  align-items: center;
}
.process-pervichen {
  width: 227px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.metamodernizm-raskachivaetsja-mezhdu-modern {
  max-width: 284px;
  font-family: "Vollkorn";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.num-3-process {
  width: calc(33.33% - 18.98px);
  padding: 0 8.95px 5px 10.03px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-four {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/02e0116f-bb33-41e7-a539-c3d75c66c253.png");
  margin-bottom: 28px;
  padding: 50px 87px 50px 86px;
  display: flex;
  align-items: center;
}
.sredstva-opravdyvajut-rezul-tat {
  max-width: 301px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.raskachivajas-tuda-i-obratno-metamodern {
  max-width: 300px;
  font-family: "Vollkorn";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.koncept-metamo-derna {
  width: 394px;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.tire {
  width: 20.3%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.nashi-proekty-two {
  background-size: cover;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/9d8a55d0-d35a-4eb6-87e9-5ab901a54ffb.png");
  margin-bottom: 82px;
  padding: 191px 189px 71px 173px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame-fourteen {
  padding: 58px 51px 341.04px 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: relative;
}
.frame-eight {
  padding: 0 10.05px 20px 10px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame-five {
  width: calc(31.91% - 45.98px);
  margin-right: 20px;
  padding: 315px 12.98px 32.98px 33px;
  position: relative;
}
.image-two {
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 300px / 2);
  top: 0;
}
.korreljacija {
  width: calc(100% - 2.8421709430404e-14px);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
}
.frame-six {
  width: calc(31.91% - 45.98px);
  margin-right: 20.01px;
  padding: 315px 12.96px 32.98px 33.02px;
  position: relative;
}
.frame-seven {
  width: calc(31.91% - 45.98px);
  padding: 315px 12.95px 32.98px 33.03px;
  position: relative;
}
.augmentacija {
  width: calc(100% - 5.6843418860808e-14px);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
}
.relative-wrapper-one {
  align-self: stretch;
  position: relative;
}
.frame-twelve {
  width: calc(100% - 20.05px);
  padding: 0 10.05px 20px 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.frame-nine {
  width: calc(31.91% - 45.98px);
  margin-right: 20px;
  padding: 315.02px 12.98px 32.96px 33px;
  position: relative;
}
.image-three {
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 300px / 2);
  top: 0.02px;
}
.frame-ten {
  width: calc(31.91% - 45.98px);
  margin-right: 20.01px;
  padding: 315.02px 12.96px 32.96px 33.02px;
  position: relative;
}
.frame-eleven {
  width: calc(31.91% - 45.98px);
  padding: 315.02px 12.95px 32.96px 33.03px;
  position: relative;
}
.frame-thirteen {
  width: calc(100% - 20.05px);
  padding: 0 10.05px 20px 10px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  bottom: -396.02px;
}
.image-four {
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 300px / 2);
  top: 0.03px;
}
.chaepitie {
  width: 100%;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
}
.nashi-proekty {
  width: 230px;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 230px / 2);
  top: -51px;
}
.relative-wrapper-two {
  width: 73.47%;
  margin-bottom: 18px;
  margin-left: 193px;
  position: relative;
}
.komanda-two {
  width: calc(100% - 98px);
  padding: 0 51px 205px 47px;
  position: relative;
}
.portrety-i-podpisi {
  width: calc(100% - 470px);
  padding: 31px 230px 13px 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.nasha-komanda {
  height: 40px;
  width: 66.73%;
  font-family: "Calibri";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 48px;
  margin-left: 78px;
}
.flex-wrapper-five {
  display: flex;
  align-items: flex-start;
}
.dzhejn {
  width: calc(48.98% - 20px);
  padding: 0.05px 10px 52.95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dzhejn:not(:last-of-type) {
  margin-right: 10px;
}
.flex-wrapper-three {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/9e92afa0-5bb1-42bb-85c3-ea01699c4cb2.png"),
    url("https://static.overlay-tech.com/assets/fec59dcc-82af-4b21-802d-895a7fac85be.png");
  margin-bottom: 20px;
}
.dzhejn-dou {
  width: 114px;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.obyvatel {
  width: 83px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.flex-wrapper-two {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/7dfa6c2e-017d-4ce7-a8e1-0b856209a00c.png"),
    url("https://static.overlay-tech.com/assets/8e50aaa4-8c1e-4fed-a719-99b73103d806.png");
  margin-bottom: 20px;
}
.denni-devri {
  width: 121px;
  font-family: "Tahoma";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.podstrekatel {
  width: 100px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.imjarek-two {
  width: calc(25% - 20px);
  padding: 0.05px 10px 52.95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -20px;
  bottom: 13px;
}
.flex-wrapper-one {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/109625f1-9aea-4958-a42b-3a3a8be2e045.png"),
    url("https://static.overlay-tech.com/assets/e76ce4b2-0d2c-4f3a-a5af-0143b5519df0.png");
  margin-bottom: 20px;
}
.imjarek {
  width: 93px;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.muza {
  width: 65px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.dzhon {
  width: calc(25% - 20px);
  padding: 0.05px 10px 52.95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -20px;
  bottom: 13px;
}
.flex-wrapper-four {
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/9f47ed31-a6dd-43eb-9764-cdce467c7756.png"),
    url("https://static.overlay-tech.com/assets/9e4f6cd9-8bf1-4534-b92b-661c9062a963.png");
  margin-bottom: 20px;
}
.dzhon-dou {
  width: 131px;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.osnovatel {
  width: 86px;
  font-family: "Calibri";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.deviz-two {
  width: calc(100% - 677px);
  height: calc(100% - 563px);
  padding: 19px 131px 0 132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 195px;
  bottom: 23px;
}
.metamo-dern-three {
  width: 99.74%;
  height: 48.67%;
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 400;
  line-height: 55px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3px;
  backdrop-filter: blur(30px);
}
.dvizhenie-ra-di-dvizhenija-two {
  height: 48.67%;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 55px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  text-align: center;
  text-transform: uppercase;
  backdrop-filter: blur(30px);
}
.podval {
  height: calc(8.9% - 53px);
  background-size: cover;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/2b192a8a-9565-4235-8855-eee11189de14.png");
  padding: 25px 193px 28px 176px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.frame-eighteen {
  padding: 39px 56px 39px 77px;
  display: flex;
  align-items: flex-start;
  flex: 1;
}
.frame-fifteen {
  width: calc(100% - 765px);
  margin-right: 64px;
  padding: 17.05px 46px 24px 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.image-five {
  width: 44px;
  height: 65px;
  margin-bottom: 8.95px;
}
.prihodi-v-gosti {
  width: 173px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.rossija-moskva-vadkovskij-pereulok-3a {
  max-width: 158px;
  font-family: "Vollkorn";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-sixteen {
  width: calc(100% - 765px);
  height: calc(100% - 51.05px);
  margin-top: 11px;
  margin-right: 66px;
  padding: 0.05px 38px 40px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-six {
  width: 44px;
  height: 65px;
  margin-bottom: 8.95px;
  margin-left: 65px;
}
.napishi-nam {
  width: 173px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.helgter-ru-tg {
  max-width: 158px;
  font-family: "Vollkorn";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-left: 15px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-seventeen {
  width: calc(100% - 709px);
  height: calc(100% - 51.05px);
  padding: 6.05px 32px 21px 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-seven {
  width: 44px;
  height: 65px;
  margin-bottom: 8.95px;
  margin-left: 93px;
}
.zajdi-na-stranichku {
  width: 229px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.vkontakte {
  width: 158px;
  font-family: "Vollkorn";
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-left: 36px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.vkontakte:not(:last-of-type) {
  margin-bottom: 12px;
}
